  <div class="container">
    <div class="row main">
      <div class="span2 left_content">
        <%= render "shared/left_menu_sport_list" %>
        <%= render "shared/left_menu_advertisment1" %>
        <%= render "shared/left_menu_region_list" %>
        <%= render "shared/left_menu_page_list" %>
        <%= render "shared/left_menu_news_feed" %>
        <%= render "shared/left_menu_advertisment2" %>
        <%= render "shared/left_menu_bottom" %>
    </div>
    <div class="span10 right_content">
      <h2>Contact Us</h2>
      
      <p>sportontv.com.au welcomes your feedback.  If you have any questions or would like further information, please contact us as follows </p>
      <p>E-mail: contact@sportontv.com.au</p>
      
    </div>
  </div>