<p id="notice"><%= notice %></p>

<p>
  <b>Rule type:</b>
  <%= @rule.rule_type %>
</p>

<p>
  <b>Value:</b>
  <%= @rule.value %>
</p>

<p>
  <b>Start date:</b>
  <%= @rule.start_date %>
</p>

<p>
  <b>End date:</b>
  <%= @rule.end_date %>
</p>

<p>
  <b>Channel:</b>
  <%= @rule.channel_id %>
</p>

<p>
  <b>Channel name:</b>
  <%= @rule.channel_name %>
</p>

<p>
  <b>Sport:</b>
  <%= @rule.sport_id %>
</p>

<p>
  <b>Sport name:</b>
  <%= @rule.sport_name %>
</p>


<%= link_to 'Edit', edit_rule_path(@rule) %> |
<%= link_to 'Back', rules_path %>
